DATABASE_NAME=my_django_db
DATABASE_USER=db_user
DATABASE_PASSWORD=supersecretpassword
DATABASE_HOST=localhost
DATABASE_PORT=5432

SECRET_KEY=your_secret_key
DEBUG=True

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_secret_key
